body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #747474;
    padding: 0px;
    margin: 0px;
}
a {
	color: #005f29;
	outline: none;
}
a:hover {
	color: #000;
}
.cursor {
	cursor: pointer;
}

/*Heading Tags*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 14px;
	font-weight: 400;
	color: #000;
}
h1 {
	font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none !important;
	color: #494949 !important;
	outline: none !important;
}

/*Font Weight*/
.ft-weight-300 {
	font-weight: 300;
}
.ft-weight-400 {
	font-weight: 400;
}

/*Head Step*/
.center-hr:after {
    background-color: #b96816;
    margin: 15px auto 0px auto;
    display: block;
    content: "";
    height: 1px;
    width: 72px;
}

/*Brown Color*/
.brown-color-bg {
	background-color: #b96816;
}
.blue-color-bg {
	background-color: #183a60;
}
.gray-color {
	color: #d7d7d7;
}

/*Button*/
.btn-brown {
	background-color: #b96816;
	border: none 0px;
}
.btn-brown:hover {
	background-color: #b96816;
}
.btn-blue {
	background-color: #183a60;
	border: none 0px;
}
.btn-blue:hover {
	background-color: #183a60;
}
.btn-white {
	background-color: #fff;
	border: solid 2px #323e50;
}
.btn-white:hover {
	background-color: #fff;
}

/*Border */
.border-radius {
	border-radius: 0;
}

/*Fonts*/
.font-20 {
	font-size: 20px;
}
.font-22 {
	font-size: 22px;
}
.font-24 {
	font-size: 24px;
}
.font-26 {
	font-size: 26px;
}
.font-28 {
	font-size: 28px;
}

/*Width*/
w-100 {
	width: 100%;
}

/*Button Style*/
@-webkit-keyframes hvr-push {
	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes hvr-push {
	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.btn-animation {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.btn-animation:hover, .btn-animation:focus, .btn-animation:active {
	-webkit-animation-name: hvr-push;
	animation-name: hvr-push;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/*Rotate*/
.rotate{
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
}  
.rotate:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

/*Animation Delay*/
.animation-delay-1 {
	animation-delay: 0.5s;
}
.animation-delay-2 {
	animation-delay: 1s;
}
.animation-delay-3 {
	animation-delay: 1.5s;
}
.animation-delay-4 {
	animation-delay: 2s;
}
.container {
	position: relative;
	overflow: hidden;
}
.contentarea {
	padding: 50px 0px;
}

/*Shadow Heading*/
.shadow-head {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.shadow-paragraph {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

/*Heading Affter*/
.head-after:after {
    background-color: #000;
    max-width: 50px;
    margin: 15px 0px;
    display: block;
    height: 1px;
    content: '';
}

/*TopBar*/
.site-top {
	background-color: #183a60;
	font-size: 13px;
	padding: 7px 0px 5px;
	color: #e4e4e4;
}
.site-top a{
	text-decoration: none;
	color: #fff;
}

/*Header*/
.site-header {
	text-transform: uppercase;
	padding: 7px 0px;
	font-weight: 700;
	font-size: 14px;
}
 .site-header .container  {
overflow: inherit;
}
.site-header .menu {
	position: relative;
	z-index: 2222;
}
.site-header ul {
	list-style-image: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.site-header ul li {
	list-style-image: none;
	display: inline-block;
	list-style: none;
	margin: 0px 12px;
	padding: 0px;
}
.site-header ul li a {
	border-bottom: solid 2px transparent;
	padding-bottom: 15px;
	text-decoration: none;
	color: #3e3e3e;
}
.site-header ul li a:hover {
	border-bottom: solid 2px #b96816;
}
.site-header ul li li a {
	border: none 0px;
	padding: 6px 15px;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
}
.site-header ul li li a:hover {
	border: none 0px;
	color: #ffbe7b;
}

.site-header .reviews {
	border: solid 2px #b96816;
	padding: 5px 20px;
}
.site-header .reviews a:hover {
	color: #b96816;
}
.site-header .brown-color-bg {
	vertical-align: top;
	text-align: center;
	line-height: 37px;
	width: 37px;
	height: 37px;
	color: #fff;
}
.site-header .brown-color-bg a {
	color: #fff;
}

/*Banners*/

/*Banners Slide Show*/
.site-banner {
	/*	height: calc(85vh - -25px);*/
	position: relative;
	overflow: hidden;
	z-index: 99;
}
@-webkit-keyframes imagehero{
	0%{
		opacity:0;
		-webkit-transform:scale(1.2)
	}
	50%{
		opacity:1;
		-webkit-transform:scale(1)
	}
	100%{
		opacity:1;
		-webkit-transform:scale(1)
	}
}
@-moz-keyframes imagehero{
	0%{
		opacity:0;
		-moz-transform:scale(1.2)
	}
	50%{
		opacity:1;
		-moz-transform:scale(1)
	}
	100%{
		opacity:1;
		-moz-transform:scale(1)
	}
}
@-ms-keyframes imagehero{
	0%{
		opacity:0;
		-ms-transform:scale(1.2)
	}
	50%{
		opacity:1;
		-ms-transform:scale(1)
	}
	100%{
		opacity:1;
		-ms-transform:scale(1)
	}
}
@keyframes imagehero{
	0%{
		opacity:0;
		transform:scale(1.2)
	}
	50%{
		opacity:1;
		transform:scale(1)
	}
	100%{
		opacity:1;
		transform:scale(1)
	}
}
.site-banner .slide-banner {
	width: 100%;
}
/*			.site-banner .slide-banner .slide-cover {
				background-position: center bottom !important;
				background-repeat: no-repeat !important;
				background-size: cover !important;
			}*/
.slick-dotted.slick-slider {
	margin-bottom: 0px !important;
}
.site-banner .slick-list, .site-banner .slick-slider, .site-banner .slick-track {
	height: 100%;
}
.site-banner .slide>div{
	position: absolute;
	width:100%;
	height:100%;
/*	opacity:0;
	-moz-animation-name:imagehero;
	-o-animation-name:imagehero;
	-webkit-animation-name:imagehero;
	animation-name:imagehero;
	-moz-animation-duration:4000ms;
	-o-animation-duration:4000ms;
	-webkit-animation-duration:4000ms;
	animation-duration:4000ms;
	-moz-animation-timing-function:cubic-bezier(0,.33,.2,1);
	-o-animation-timing-function:cubic-bezier(0,.33,.2,1);
	-webkit-animation-timing-function:cubic-bezier(0,.33,.2,1);
	animation-timing-function:cubic-bezier(0,.33,.2,1);
	-moz-animation-iteration-count:1;
	-o-animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
	-moz-animation-play-state:initial;
	-o-animation-play-state:initial;
	-webkit-animation-play-state:initial;
	animation-play-state:initial;
	-moz-animation-delay:1000ms;
	-o-animation-delay:1000ms;
	-webkit-animation-delay:1000ms;
	animation-delay:1000ms;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;*/
	top: 0;
}
.site-banner .slide-banner img {
	width: 100%;
}
.slick-initialized .slick-slide div {
	font-size: 0 !important;
}

.site-banner {
	/*	background-position: center top !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;*/
	position: relative;
	color: #fff;
}
.site-banner h1 {
	text-transform: uppercase;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 40px;
	color: #fff;
}
.site-banner p {
	font-weight: 500;
	font-size: 20px;
}
.site-banner .prev {
	background: url(../images/homepage/bnr-prev.png) no-repeat left top;
	display: inline-block;
	position: absolute;
	margin-top: -30px;
	cursor: pointer;
	z-index: 91;
	width: 37px;
	height: 58px;
	z-index: 200;
	top: 50%;
}
.site-banner .next {
	background: url(../images/homepage/bnr-next.png) no-repeat right top;
	display: inline-block;
	position: absolute;
	margin-top: -30px;
	cursor: pointer;
	z-index: 91;
	width: 37px;
	height: 58px;
	z-index: 200;
	top: 50%;
	right: 0;
}
.site-banner .slideshow-text {
	width: 100%;
}
.site-banner .large-slide {
	width: 100%;
}
.site-banner .slideshow-text {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.site-banner .slide-banner {
	width: 100%;
}
.site-banner .slideshow-text .sl-text-center {
	vertical-align: top;
/*	opacity: 0;*/
	-webkit-animation-duration: 2s; 
	animation-duration: 2s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
}
.site-banner .slide-banner.cycle-slide-active .slideshow-text .sl-text-center {
	opacity: 1;
	-webkit-animation-name: fadeInRight; 
	animation-name: fadeInRight;    
	-webkit-animation-timing-function: ease-out; 
	animation-timing-function: ease-out; 
}
.site-banner .cycle-pager { 
    text-align: center;
	position: absolute;
	overflow: hidden;
	font-size: 0px;
	z-index: 900;
	bottom: 50px;	
	width: 100%;
}
.site-banner .cycle-pager span {
	border: solid 1px #fff;
	background-color: #b96816;
	display: inline-block;
	border-radius: 100%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer; 
	height: 15px; 
	width: 15px; 
}
.site-banner .cycle-pager span.cycle-pager-active { 
	background-color: #fff;
}
.site-banner .row {
    margin: 0px;
}
.site-banner .slick-prev, .site-banner .slick-next {
    background-color: rgba(0,0,0,.40);
    border-radius: 100px;
    position: absolute;
    text-align: center;
    margin-top: -60px;
    line-height: 90px;
    cursor: pointer;
    z-index: 600;
    height: 90px;
    width: 100px;
    top: 50%;
}
.site-banner .slick-prev:hover, .site-banner .slick-next:hover {
    background-color: rgba(0,0,0,1);
}
.site-banner .slick-prev {
	left: -50px;
}
.site-banner .slick-prev:before {
	background: url(../images/common/slide-prev.png) no-repeat center center;
	position: relative;
	margin-left: 56px;
	display: block;
	height: 90px;
	width: 17px;
	content: '';
}
.site-banner .slick-next {
	right: -50px;
}
.site-banner .slick-next:before {
	background: url(../images/common/slide-next.png) no-repeat center center;
	position: relative;
	margin-left: 25px;
	display: block;
	height: 90px;
	width: 17px;
	content: '';
}
.slick-prev {
    left: 25px;
    z-index: 9999;
}
.slick-next {
    right: 25px;
    z-index: 9999;
}
.slick-slide .slick-dots {
	display: none;
}
.slick-slide img {
	width: 100%;
}
.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}
.fade:not(.show) {
	opacity: 99 !important;
}
.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}
.slick-dots {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button::before {
	background-color: #000;
    font-family: slick;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
    height: 14px;
    content: "";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
	border-radius: 50px;
	display: block;
}

/*Blue Box Home*/
.blue-box-hm {
	background-color: #183a60;
}
.blue-box-hm .card {
	background-color: transparent;
	border-left: solid 1px #5e7590;
	border-bottom: none 0px;
	border-right: none 0px;
	border-top: none 0px;
	text-align: center;
	border-radius: 0;
	padding: 30px 10px;
	color: #fff;
}
.blue-box-hm .card.first {
	border-left: none 0px;
}
.blue-box-hm .card a {
	text-decoration: none;
	color: #fff;
}
.blue-box-hm .card .card-icon {
	margin-bottom: 15px;
}
.blue-box-hm .card .card-title {
	text-transform: uppercase;
	margin-bottom: 0px;
	font-size: 15px;
}
.blue-box-hm .col-xl-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

/*What Do We Do*/
.what-do-section .img-boxs img {
	width: 100%;
}
.what-do-section .text-section {
	border-top: solid 3px #b96816;
	background-color: #fff;
	margin: -30px 15px 0px;
	position: relative;
	padding: 15px 20px;
	z-index: 9;
}
.what-do-section .text-section h3 {
	font-weight: 700;
	color: #183a60;
}

/*Parallax Tag*/
.parallax-container {
    position: relative;
    overflow: hidden;
}
.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parallax-container .parallax img {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*Customers Section*/
.customers-section {
	background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
	background-attachment: fixed !important;
	position: relative;
	font-weight: 300;
	color: #fff;
}
.customers-section h2 {
	color: #fff;
}
.customers-section .center-hr:after {
    background-color: #fff;
}
.customers-section .title-name {
	color: #ffae5d;
}
.customers-section .slide-banner {
	width: 100%;
}
.customers-section .cycle-pager { 
    text-align: center;
	position: absolute;
	overflow: hidden;
	font-size: 0px;
	z-index: 900;
	bottom: -10px;	
	width: 100%;
}
.customers-section .cycle-pager span {
	background-color: #b6b6b6;
	display: inline-block;
	border-radius: 100%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer; 
	height: 10px; 
	width: 10px; 
}
.customers-section .cycle-pager span.cycle-pager-active { 
	background-color: #f5a85c;
}

/*Home Loan calculators*/
.calc-section {
	background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
	background-attachment: fixed !important;
	position: relative;
}
.calc-section h2 {
	color: #fff;
}
.calc-section .center-hr:after {
    background-color: #fff;
}

/*Compare Loans*/
.compare-loans {
	background-color: #f3f3f3;
	position: relative;
}
.compare-loans .compare-wrap {
	position: relative;
}
.compare-loans .compare-box .logo-bg {
	margin: 20px 0px;
	display: block;
}
.compare-loans .owl-nav {
	position: absolute;
	width: 100%;
	top: 50%;
}
.compare-loans .owl-nav {
	position: absolute;
	margin-top: -40px;
	width: 100%;
	top: 50%;
}
.compare-loans .owl-nav .owl-prev {
	background: url(../images/homepage/arrow-left.png) no-repeat left top !important;
	display: inline-block;
	position: absolute;
	font-size: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	left: -60px;
}
.compare-loans .owl-nav .owl-next {
	background: url(../images/homepage/arrow-right.png) no-repeat right top !important;
	position: absolute;
	display: inline-block;
	margin-right: -60px;
	font-size: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	right: 0px;
}
.compare-loans .owl-carousel .owl-nav button.owl-next, .compare-loans .owl-carousel .owl-nav button.owl-prev, .compare-loans .owl-carousel button.owl-dot {
    font-size: 0px !important;
	outline: 0;
}
.compare-loans .owl-theme .owl-dots .owl-dot.active span, .compare-loans .owl-theme .owl-dots .owl-dot:hover span {
    background: #0073ac !important;
}

/*contact-section*/
.contact-section label {
    text-transform: uppercase;
	font-weight: 500;
	color: #000;
}
.contact-section input {
    border-radius: 0;
}
.contact-section textarea {
    border-radius: 0;
}
.contact-section .btn {
	font-weight: 700;
    color: #000;
}

/*Contact Us*/
.contact-address {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 40px;
    color: #858585;
}

/*Footer Content*/
.footer-content {
	background-color: #1e1e1e;
	color: #fff;
}
.footer-content h3, .footer-content h4,.footer-content h5 {
	color: #fff;
}
.footer-content h3:after {
    background-color: #e58e3e;
    margin: 15px 0px;
    display: block;
    content: "";
    height: 1px;
    width: 40px;
}
.footer-content a {
    text-decoration: none;
	color: #fff;
}
.footer-content a:hover {
	color: #e58e3e;
}
.footer-content .social-box {
	padding: 0px;
}
.footer-content .social-box .icons {
	border: solid 1px #424242;
	display: inline-block;
	font-size: 11px;
	padding: 3px;
}
.footer-content ul {
	list-style-image: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer-content ul li {
	list-style-image: none;
	list-style: none;
	margin: 0px 0px 5px;
	padding: 0px;
}