@media (min-width: 1230px){
    .container {
        max-width: 1200px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    /*Header*/
    .site-header ul li {
        margin: 0px 7px;
        font-size: 13px;
    }

    /*Blue Box Home*/
    .blue-box-hm .card .card-title {
        font-size: 13px;
    }

    /*Compare Loans*/
    .compare-loans .owl-nav {
        display: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

    /*Heading Tags*/
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }

    /* Site Mobie Menu*/
    .top-bar-abs {
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        z-index: 1001;
        display: block;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: all .4s ease 0s;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;
        -o-transition: all .4s ease 0s;
    }
    .top-bar-abs.show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .nav-toggle-close {
        width: 22px;
        height: 22px;
        margin: 10px auto;
        position: relative;
        cursor: pointer;
    }
    .nav-toggle-close:before, .nav-toggle-close:after {
        position: absolute;
        left: 11px;
        content: ' ';
        height: 23px;
        width: 1px;
        background-color: #000;
    }
    .nav-toggle-close:before {
        transform: rotate(45deg);
    }
    .nav-toggle-close:after {
        transform: rotate(-45deg);
    }
    .collapse-button {
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        width: 30px;
        vertical-align: middle;
    }
    .collapse-button .icon-bar {
        background-color: #183a60;
        width: 100%;
        margin: 0px 0px 4px;
        height: 4px;
        padding: 0px;
        display: block;
        overflow: hidden;
    }
    .collapse-button .icon-bar:last-child {
        margin-bottom: 0px;
    }
    .slinky-theme-default {
        background: #fff;
    }
    .slinky-menu ul {
        text-transform: uppercase;
        padding: 0px;
        margin: 0px;
        font-size: 14px;
    }
    .slinky-menu ul li a {
        text-decoration: none;
    }
    .slinky-theme-default a:not(.back):hover {
        background: rgba(166, 206, 57, 0.25);
    }

    .contentarea {
        padding: 30px 0px;
    }

    /*Banners*/
    .site-banner {
        height: calc(50vh - 0px);
    }
    .site-banner .mobile-banner {
        background-position: center top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding-top: 300px;
        position: relative;
    }

    /*Blue Box Home*/
    .blue-box-hm .card .card-title {
        font-size: 10px;
    }

    /*Compare Loans*/
    .compare-loans .owl-nav {
        display: none;
    }


}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {

    /*Heading Tags*/
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }

    .contentarea {
        padding: 20px 0px;
    }

    /* Site Mobie Menu*/
    .top-bar-abs {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        z-index: 1001;
        display: block;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: all .4s ease 0s;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;
        -o-transition: all .4s ease 0s;
    }
    .top-bar-abs.show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .nav-toggle-close {
        width: 22px;
        height: 22px;
        margin: 10px auto;
        position: relative;
        cursor: pointer;
    }
    .nav-toggle-close:before, .nav-toggle-close:after {
        position: absolute;
        left: 11px;
        content: ' ';
        height: 23px;
        width: 1px;
        background-color: #000;
    }
    .nav-toggle-close:before {
        transform: rotate(45deg);
    }
    .nav-toggle-close:after {
        transform: rotate(-45deg);
    }
    .collapse-button {
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        width: 30px;
        vertical-align: -webkit-baseline-middle;
    }
    .collapse-button .icon-bar {
        background-color: #183a60;
        width: 100%;
        margin: 0px 0px 4px;
        height: 4px;
        padding: 0px;
        display: block;
        overflow: hidden;
    }
    .collapse-button .icon-bar:last-child {
        margin-bottom: 0px;
    }
    .slinky-theme-default {
        background: #fff;		
    }
	.slinky-menu{
		height:auto !important;
	}
    .slinky-menu ul {
        text-transform: uppercase;
        padding: 0px;
        margin: 0px;
        font-size: 14px;
		/*left: 2% !important;*/
    }
    .slinky-menu ul li a {
        text-decoration: none;
    }
    .slinky-theme-default a:not(.back):hover {
        background: rgba(166, 206, 57, 0.25);
    }

    .site-header .reviews {
        display: none !important;
    }

    /*Banners*/
    .site-banner {
        /*height: calc(40vh - 0px);*/
        height:auto;
    }
    .site-banner .mobile-banner {
        background-position: center top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding-top: 150px;
        position: relative;
    }
    .site-banner h1 {
        font-size: 24px;
    }
    .site-banner p {
        font-size: 16px;
    }
    .site-banner .slick-prev {
        display: none !important;
    }
    .site-banner .slick-next {
        display: none !important;
    }
    .site-banner .cycle-pager
    {
        bottom: 15px;
    }
    /*Blue Box*/
    .blue-box-hm .col-xl-2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blue-box-hm .card {
        border-left: none 0px #5e7590;
        border-top: solid 1px #5e7590;
        display: block !important;
    }

    /*Compare Loans*/
    .compare-loans .owl-nav {
        display: none;
    }

    /*Contact Us*/
    .contact-address {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
        padding: 0px 15px;
    }
    .contact-address .address-col {
        border: none 0px !important;
        background-color: #f5f5f5;
        margin-bottom: 10px;
    }
    .contact-address .border-right {
        border-right: 0px none #dee2e6!important;
    }

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

}