@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76149840');
  src: url('../font/fontello.eot?76149840#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76149840') format('woff2'),
       url('../font/fontello.woff?76149840') format('woff'),
       url('../font/fontello.ttf?76149840') format('truetype'),
       url('../font/fontello.svg?76149840#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76149840#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-video:before { content: '\e807'; } /* '' */
.icon-th-large:before { content: '\e808'; } /* '' */
.icon-th-list:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-credit-card:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-minus-1:before { content: '\e817'; } /* '' */
.icon-plus-1:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-lock:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-edit:before { content: '\e81c'; } /* '' */
.icon-pencil:before { content: '\e81d'; } /* '' */
.icon-trash-empty:before { content: '\e81e'; } /* '' */
.icon-star-empty:before { content: '\e81f'; } /* '' */
.icon-star:before { content: '\e820'; } /* '' */
.icon-left-open-1:before { content: '\e821'; } /* '' */
.icon-right-open-1:before { content: '\e822'; } /* '' */
.icon-right-open-big:before { content: '\e823'; } /* '' */
.icon-help-1:before { content: '\e824'; } /* '' */
.icon-left-open-big:before { content: '\e825'; } /* '' */
.icon-down-open-big:before { content: '\e826'; } /* '' */
.icon-up-open-big:before { content: '\e827'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-yahoo:before { content: '\f19e'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */